/**
 * @name RadialStatus
 * @author Gibbu#1211
 * @version -dev
 * @description Changes the status icons to wrap around the avatar. Shape can be changed inside the theme file.
 * @source https://github.com/gibbubdstuff/RadialStatus
 * @website https://www.gibbu.me
*/

:root {
  --rs-small-spacing: 2px;
  --rs-large-spacing: 3px;
  --rs-width: 2px;
  --rs-avatar-shape: 50%;
  --rs-online-color: #43b581;
  --rs-idle-color: #faa61a;
  --rs-dnd-color: #f04747;
  --rs-offline-color: #636b75;
  --rs-streaming-color: #643da7;
  --rs-invisible-color: #747f8d;
}

#app-mount {
  .wrapper-3t9DeA {

    // Remove masks
    svg:not(:root) {
      overflow: visible;
    }
    foreignObject {
      mask: none;
    }

    // Typing indicator
    .dots-3Bkt3k circle {
      &:nth-child(1) {
        cy: -8 !important;
        cx: -8.5 !important;
      }
      &:nth-child(2) {
        cy: -8 !important;
        cx: -2.25 !important;
      }
      &:nth-child(3) {
        cy: -8 !important;
        cx: 4 !important;
      }
    }
    .mask-1l8v16 > rect[x="22"] {
      x: 0;
      y: 0;
    }
    .cursorDefault-dsQJ1n rect {
      x: -49;
      y: -53;
    }
    .pointerEvents-2zdfdO[x="14.5"] {
      fill: rgba(0,0,0,0.5) !important;
      width: 30px;
      height: 30px;
      x: 1;
      y: 1;
    }

    // Avatar shape
    & > svg > foreignObject img {
      border-radius: var(--rs-avatar-shape);
    }

    // Status ring
    svg[width="25"][height="15"] > rect {
      rx: calc(var(--rs-avatar-shape) * 2) !important;
      ry: calc(var(--rs-avatar-shape) * 2) !important;
    }
    rect {
      x: 0;
      y: 0;
      width: 100%;
      height: 100%;
      mask: none;
      display: block !important;
      rx: var(--rs-avatar-shape) !important;
      ry: var(--rs-avatar-shape) !important;
      fill: transparent !important;
      stroke-width: var(--rs-width);
      &[fill="#43b581"],
      &[fill="rgba(67, 181, 129, 1)"],
      &[mask*="online"] {
        stroke: var(--rs-online-color);
      }
      &[fill="#faa61a"],
      &[fill="rgba(250, 166, 26, 1)"],
      &[mask*="idle"] {
        stroke: var(--rs-idle-color);
      }
      &[fill="#f04747"],
      &[fill="rgba(240, 71, 71, 1)"],
      &[mask*="dnd"] {
        stroke: var(--rs-dnd-color);
      }
      &[fill="#593695"],
      &[mask*="streaming"] {
        stroke: var(--rs-streaming-color);
      }
      &[fill="#747f8d"],
      &[mask*="offline"],
      &[fill="NaN"] {
        stroke: var(--rs-offline-color);
      }
      &[mask*="invisible"],
      &[fill="rgba(116, 127, 141, 1)"] {
        stroke: var(--rs-invisible-color);
      }
      &[x="16"] {
        width: 24px;
        height: 24px;
      }
      &[x="28"] {
        width: 40px;
        height: 40px;
        overflow: visible;
      }
    }

    // Large profiles
    &[style*="width: 80px;"] {
      position: relative;
      margin-right: 0 !important;
      rect {
        width: 80px;
        height: 80px;
        pointer-events: none;
      }
      img {
        clip-path: inset(calc(var(--rs-large-spacing) + 1px) calc(var(--rs-large-spacing) + 1px) round var(--rs-avatar-shape));
      }
      // Not sure what this does.
      &:after {
        left: unset;
        right: -2px;
        top: unset;
        bottom: -2px;
        transform: none;
      }
    }

    // Small avatars (stop DBLib from affecting chat avatars)
    &:not([style*="width: 80px;"]) > svg > foreignObject:not(:only-child) img {
      clip-path: inset(calc(var(--rs-small-spacing) + 1px) calc(var(--rs-small-spacing) + 1px) round var(--rs-avatar-shape));
    }
    &[style*="width: 32px;"] rect {
      width: 32px;
      height: 32px;
      x: -14.5;
      y: -17;
      position: relative;
      z-index: 0;
    }
    // Fixes for StatusEverywhere
    &[style*="width: 16px;"] {
      img {
        clip-path: none !important;
      }
      rect {
        width: 16px !important;
      }
    }
  }

  // View profile overlay
  .avatarHint-1qgaV3 {
    foreignObject {
      mask: none;
    }
    .avatarHintInner-Dco91E {
      border-radius: var(--rs-avatar-shape) !important;
      padding-top: 0;
      width: calc(100% - var(--rs-width) * 4);
      height: calc(100% - var(--rs-width) * 4);
      margin-top: calc(var(--rs-width) + 2px);
      margin-left: calc(var(--rs-width) + 2px);
    }
  }

  // Not sure what these do.
  .message-1PNnaP .mask-1l8v16 img {
    clip-path: circle(calc(19px - var(--rs-small-spacing)));
  }
  .header-QKLPzZ .wrapper-3t9DeA {
    margin-right: 20px !important;
  }

  // Offline
  .memberOffline-2lN7gt img {
    clip-path: none !important;
  }
  .offline-3nJYBR img {
    clip-path: none !important;
  }
}

// Online via mobile
#app-mount .wrapper-3t9DeA foreignObject[mask*="mobile"] {
  width: calc(100% + 4px);
  &[width="32"] img {
    width: 32px;
  }
  &[width="80"] img {
    width: 80px;
  }
  &:after {
    content: "";
    -webkit-mask: url('data:image/svg+xml; utf-8,<svg aria-hidden="true" focusable="false" data-prefix="fas" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M272 0H48C21.5 0 0 21.5 0 48v416c0 26.5 21.5 48 48 48h224c26.5 0 48-21.5 48-48V48c0-26.5-21.5-48-48-48zM160 480c-17.7 0-32-14.3-32-32s14.3-32 32-32 32 14.3 32 32-14.3 32-32 32zm112-108c0 6.6-5.4 12-12 12H60c-6.6 0-12-5.4-12-12V60c0-6.6 5.4-12 12-12h200c6.6 0 12 5.4 12 12v312z"></path></svg>') center/8px no-repeat;
    display: block;
    position: absolute;
    width: 10px;
    height: 14px;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    background: var(--rs-online-color);
    z-index: 1;
  }
}

// Remove inbuilt theme RadialStatus
#app-mount .wrapper-3t9DeA:before {
  content: none !important;
}

// Fix ring clipping on friends tab
.userInfo-2zN2z8,
.peopleListItem-2nzedh {
  overflow: visible;
}